.editorconfig
.gitattributes
.github
.gitmodules
.npmignore
[Tt]ests/
*.cmake
*.log
*.log
*.sln
*.test.*
*.tgz
*.tmp
*.vcxproj*
CHANGELOG.md
CMakeCache.txt
CMakeFiles/
CMakeLists.txt
CTest*
Makefile
src/
tsconfig.json
tslint.json
CMakePresets.json
coverage/
.c8rc.json
.mocharc.js
.eslintrc.js
